<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->



<div class="page-wrapper">
    
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
      <!-- Main Site -->
        <main id = 'site-main'>
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <div class="filler">
                        <a href="/" class="border-shadow">
                            <span class="text-gradient"><i class="fas fa-angle-double-left"></i>  All Employees  </span>
                        </a>
                    </div>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark"> Update User</h2>
                    <span class="text-light"> Use the below form to create update account</span>
                </div>

                <!-- add form handing -->
                <%- include('include/_formUpdateUser')%>
                <!-- /add form handing -->
            </div>
        </main>
        <!-- /Main Site -->

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
  
</div>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->