<form action="/api/users" method="POST" id="add_user">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="hidden" name="id" value="">
          <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
        </div>
      </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="phoneNumber" id="inputPhoneNumber" placeholder="Phone Number">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Address">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDOB" class="col-sm-2 col-form-label">DateOfBirth</label>
        <div class="col-sm-10">
            <input id="inputDOB"  placeholder="DOB" name="dateOfBirth" />
            <script>
                $('#inputDOB').datepicker({
                    uiLibrary: 'bootstrap4',
                    format:"dd/mm/yyyy",
                    maxDate: new Date(),
                });
            </script>
        </div>
    </div>

    <div class="form-group row">
        <label for="gender" class="col-form-label col-sm-2 ">Gender</label>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" value="Male" class="form-check-input" name="gender">Male
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" value="Female" class="form-check-input" name="gender">Female
                </label>
              </div>
      </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="inputPosition">Position</label>
        <div class="col-sm-10">
                <select id="inputPosition" class="form-control" name="position">
                    <option selected>Employees</option>
                    <option>Bancellor</option>
                </select>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>